### Reconcile Bank data with Beals data

- Check Beals cumulative payments
    - puts credits/debits into a single column and keeps track of cumulative values - a records with an 'Amount payable' 
      with a non-zero value shows records have been carried forward from previous year or are to be carried forward to
      next.
- Reconcile Bank payments against Beals
    - iterate bank data for each payment from Beals, checking for corresponding data in Beals transactions list.
    - check for Bank records not reconciled to Beals payment
    - check for Beals records with not corresponding Bank payment
    - find Beals payments that include a transaction from previous year (identified by non zero cumulative amount)
    - find Beals transactions that have not been paid for and so are carried forward to next year (reconcile=0 flag)
- Create output spreadsheets
    - included is combo ledger of bank payments received along with Beals transactions in order to check balances

In [1]:
import numpy as np
import pandas as pd

In [2]:
import time
import os.path
import shutil

def backup_file(filename):
    timestr = time.strftime('%Y%m%d-%H%M%S')
    if os.path.isfile(filename):
        shutil.copy2(filename,filename+'.bak_' + timestr)
    return filename

In [3]:
#path = 'M:/My Documents/Business/Bugisiw Ltd/TaxReturn/TaxReturn_2020-2021/LLP accounts/'
taxreturn_yr='TaxReturn_2021-2022'
path = 'E:\\dtuklaptop\\e\\Users\\Mat\\python\\data\\property\\'+taxreturn_yr+'\\LLP accounts\\'
startdatestr='2021-04-06'
enddatestr='2022-04-05'

In [4]:
# Load bank files
#df6=pd.read_csv(path+'6045_s1.csv', parse_dates=['Date'], dayfirst=True)
#df3=pd.read_csv(path+'3072_s1.csv', parse_dates=['Date'], dayfirst=True)
input_file_6045 = path + '6045_categorised.xlsx'
df6=pd.read_excel(input_file_6045,sheet_name='6045')
df6=df6[~df6.Account.isnull()]
input_file_3072 = path + '3072_categorised.xlsx'
df3=pd.read_excel(input_file_3072,sheet_name='3072')
df3=df3[~df3.Account.isnull()]

In [5]:
# Load Beals transactions
#dfB=pd.read_csv(path+'beals.csv', parse_dates=['Date Created'], dayfirst=True)
dfB=pd.read_excel(path+'beals.xlsx', sheet_name='beals', parse_dates=['Date Created'], dayfirst=True)
dfB.insert(0,'Date', dfB['Date Created'].dt.date)
dfB=dfB.sort_values(by=['ID','Date Created'])
dfB['Date'] =  pd.to_datetime(dfB.Date)
#dfB['Item Description'] = dfB.ID + ': ' + dfB['Item Description']

In [6]:
startdate = pd.to_datetime(startdatestr).date()
enddate = pd.to_datetime(enddatestr).date()
dfB=dfB[(dfB.Date >= startdate)&(dfB.Date <= enddate)]
df6=df6[(df6.Date >= startdate)&(df6.Date <= enddate)]
df3=df3[(df3.Date >= startdate)&(df3.Date <= enddate)]

C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.
C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """

### Add cumulative payments to Beals transactions
- it's easier to see missing transacations when there is a cumulative figure

In [7]:
# Create amount column
for index, row in dfB.iterrows():
    if(row['Credit Amount']>0):
        dfB.at[index,'Amount']=-round(row['Credit Amount'],2)
    elif(row['Debit Amount']>0):
        dfB.at[index,'Amount']=round(row['Debit Amount'],2)

In [8]:
# Track cumulative amounts between payments
cumamount=0.0;
lastID=''
for index, row in dfB.iterrows():
    if(row.ID != lastID):
        cumamount=row.Amount
    else:
        cumamount=cumamount + row.Amount

    dfB.at[index,'CumAmount'] = round(cumamount,2)
    if('Amount payable' in row['Item Description']):
        cumamount=0.0
    lastID=row.ID

### Reconcile Bank payments against Beals

Iterate bank data for each payment from Beals, checking for corresponding data in Beals transactions list.

Mark reconciled data in bank and reconciled Beals payments with 1, mark Beals transactions with account they were paid into.

In [9]:
from datetime import datetime, timedelta

def find_last_rent_received(payment_index, property_code, df_beals):
    rec=df_beals[(df_beals.ID==property_code)&(df_beals['Item Description'].str.contains('Rent for period'))&(df_beals.index<payment_index)]
    if not rec.empty:
        return rec['Item Description'].iloc[-1]
    else:
        return 'NOT FOUND'

def reconcile_bank_with_beals(df_bank, df_beals,bank_label):
    lookback = 5
    errorcount = 0
    for index, row in df_bank[df_bank['Memo'].str.contains("BEALS ESTATE AGENT", na=False)].iterrows():
        # Lookback 5 days for payment to appear in Beals statement
        print('Reconciling ' + str(row.Date) + ' ' + row.Memo + ' ' + str(row.Amount))

        startdate = row.Date - timedelta(days=lookback)
        enddate = row.Date
        rec=df_beals.loc[(df_beals['ID']==row.Property)&(df_beals['Debit Amount']==row.Amount)&(df_beals['Date']>=startdate)&(df_beals['Date']<=enddate)&(df_beals.ReconciledBank!=1)]
        if not rec.empty:
            print( str(rec.iloc[0].name)+' With '+ str(rec.Date.iloc[0]) + ' ' + rec['Item Description'].iloc[0] + ' ' + str(rec['Debit Amount'].iloc[0]))
            df_bank.at[index, 'ReconciledBeals']=1
            df_bank.at[index, 'Description']=find_last_rent_received(rec.iloc[0].name,row.Property,df_beals)
            df_beals.at[rec.iloc[0].name, 'ReconciledBank']=1
            df_beals.at[rec.iloc[0].name, 'ReconciledBankAccount']=bank_label
        else:
            print('CANNOT RECONCILE')
            errorcount = errorcount + 1

    print('Errors=' +  str(errorcount))

In [10]:
df6.loc[df6['Memo'].str.contains("BEALS ESTATE AGENT", na=False),'ReconciledBeals']=0
df3.loc[df3['Memo'].str.contains("BEALS ESTATE AGENT", na=False),'ReconciledBeals']=0
dfB['ReconciledBank']=np.nan
dfB['ReconciledBankAccount']=np.nan

#### Reconcile 6045 with Beals

In [11]:
reconcile_bank_with_beals(df6,dfB,6045)

Reconciling 2021-04-06 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 29.71
CANNOT RECONCILE
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 412-14 ALHAMB BGC 474.9
1630 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 12-14 Alhambra Road, Southsea 474.9
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 107.57
1596 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 107.57
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 470.32
1670 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 470.32
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 205.92
1706 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 205.92
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
1609 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 422.29
1615 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 422.29
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 426.57
1605 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 426.57
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 208.26
1634 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 208.26
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
1641 With 2021-04-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-04-09 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 31.85
1645 With 2021-04-07 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 31.85
Reconciling 2021-04-09 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 153.99
1619 With 2021-04-07 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 153.99
Reconciling 2021-04-12 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 452.0
1626 With 2021-04-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-04-13 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 550.8
1662 With 2021-04-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 550.8
Reconciling 2021-04-13 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
1666 With 2021-04-09 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-04-14 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 384.91
1648 With 2021-04-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 384.91
Reconciling 2021-04-15 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
1652 With 2021-04-13 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-04-19 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 225.5
1622 With 2021-04-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 225.5
Reconciling 2021-04-19 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 210.83
1709 With 2021-04-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 210.83
Reconciling 2021-04-22 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 214.03
1637 With 2021-04-20 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 214.03
Reconciling 2021-04-28 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 320.71
1599 With 2021-04-26 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 320.71
Reconciling 2021-04-28 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
1589 With 2021-04-26 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2021-04-30 00:00:00 BEALS ESTATE AGENT    FLAT 1316-18 ALHAM BGC 497.8
1657 With 2021-04-28 00:00:00 Amount payable to Mr Mathew Tucker - Flat 13, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 186.1
1741 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 186.1
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 241.17
1825 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 241.17
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 387.43
1724 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 387.43
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 67.09
1767 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 67.09
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 243.97
1756 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 243.97
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 419.08
1737 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 419.08
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 137.29
1717 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 137.29
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
1731 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 470.32
1792 With 2021-05-05 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 470.32
Reconciling 2021-05-10 00:00:00 BEALS ESTATE AGENT    FLAT 412-14 ALHAMB BGC 474.9
1752 With 2021-05-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 12-14 Alhambra Road, Southsea 474.9
Reconciling 2021-05-10 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
1763 With 2021-05-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-05-12 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 452.0
1748 With 2021-05-10 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-05-13 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 550.08
1784 With 2021-05-11 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 550.08
Reconciling 2021-05-13 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 38.62
1727 With 2021-05-11 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 38.62
Reconciling 2021-05-14 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 349.66
1770 With 2021-05-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 349.66
Reconciling 2021-05-14 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
1788 With 2021-05-12 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-05-17 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
1774 With 2021-05-13 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-05-18 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 190.89
1744 With 2021-05-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 190.89
Reconciling 2021-05-18 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 175.58
1828 With 2021-05-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 175.58
Reconciling 2021-05-24 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
1713 With 2021-05-20 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2021-05-24 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 176.02
1759 With 2021-05-20 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 176.02
Reconciling 2021-05-28 00:00:00 BEALS ESTATE AGENT    FLAT 1316-18 ALHAM BGC 503.8
1778 With 2021-05-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 13, 16-18 Alhambra Road, Southsea 503.8
Reconciling 2021-05-28 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 281.32
1720 With 2021-05-26 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 281.32
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 470.32
1880 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 470.32
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
1853 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 417.96
1846 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 417.96
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 416.75
1859 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 416.75
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 276.42
1960 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 276.42
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 275.98
1895 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 275.98
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 215.31
1866 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 215.31
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 170.68
1836 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 170.68
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 102.34
1909 With 2021-06-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 102.34
Reconciling 2021-06-10 00:00:00 BEALS ESTATE AGENT    FLAT 412-14 ALHAMB BGC 474.9
1891 With 2021-06-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 12-14 Alhambra Road, Southsea 474.9
Reconciling 2021-06-10 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
1905 With 2021-06-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-06-10 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 433.72
1884 With 2021-06-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 433.72

Reconciling 2021-06-11 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 543.6
1929 With 2021-06-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 543.6
Reconciling 2021-06-15 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
1876 With 2021-06-11 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-06-16 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 314.4
1912 With 2021-06-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 314.4
Reconciling 2021-06-17 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
1919 With 2021-06-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-06-17 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 159.2
1869 With 2021-06-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 159.2
Reconciling 2021-06-17 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 140.34
1963 With 2021-06-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 140.34
Reconciling 2021-06-24 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 140.77
1898 With 2021-06-22 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 140.77
Reconciling 2021-06-29 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
1832 With 2021-06-25 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2021-06-30 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 240.08
1840 With 2021-06-28 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 240.08
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 423.97
1850 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 423.97
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 311.66
1967 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 311.66
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 241.17
1863 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 241.17
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 211.92
1843 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 211.92
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 247.0
1873 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 247.0
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 12.28
1888 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 12.28
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 137.6
1916 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 137.6
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 1316-18 ALHAM BGC 491.8
1924 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 13, 16-18 Alhambra Road, Southsea 491.8
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 311.23
1902 With 2021-06-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 311.23
Reconciling 2021-07-05 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 58.12
2034 With 2021-07-01 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 58.12
Reconciling 2021-07-07 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 412.2
2037 With 2021-07-05 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 412.2
Reconciling 2021-07-07 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
2006 With 2021-07-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-07-07 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 175.58
2016 With 2021-07-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 175.58
Reconciling 2021-07-08 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2086 With 2021-07-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-07-08 00:00:00 BEALS ESTATE AGENT    FLAT 412-14 ALHAMB BGC 474.9
2059 With 2021-07-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 12-14 Alhambra Road, Southsea 474.9
Reconciling 2021-07-12 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 404.47
2041 With 2021-07-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 404.47
Reconciling 2021-07-13 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 543.6
2012 With 2021-07-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 543.6
Reconciling 2021-07-15 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2030 With 2021-07-13 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-07-15 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 279.16
2096 With 2021-07-13 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 279.16
Reconciling 2021-07-15 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2103 With 2021-07-13 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-07-16 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 105.08
2072 With 2021-07-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 105.08
Reconciling 2021-07-20 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 127.51
2023 With 2021-07-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 127.51
Reconciling 2021-07-22 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 105.53
2079 With 2021-07-20 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 105.53
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 352.92
2075 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 352.92
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 412-14 ALHAMB BGC 525.0
2061 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker 525.0
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 282.42
2019 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 282.42
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 458.0
1996 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 458.0
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 352.47
2082 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 352.47
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 178.84
2099 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 178.84
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 284.69
2026 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 284.69
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 426.96
2002 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 426.96
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 1316-18 ALHAM BGC 503.8
2114 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 13, 16-18 Alhambra Road, Southsea 503.8
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
1992 With 2021-07-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2021-07-30 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 47.53
2045 With 2021-07-28 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 47.53
Reconciling 2021-08-05 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
2133 With 2021-08-03 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-08-05 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 470.32
2161 With 2021-08-03 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 470.32
Reconciling 2021-08-05 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 134.34
2143 With 2021-08-03 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 134.34
Reconciling 2021-08-10 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2199 With 2021-08-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-08-11 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 369.22
2165 With 2021-08-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 369.22
Reconciling 2021-08-12 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 543.6
2139 With 2021-08-10 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 543.6
Reconciling 2021-08-13 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2157 With 2021-08-11 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-08-16 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 237.91
2209 With 2021-08-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 237.91
Reconciling 2021-08-17 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2216 With 2021-08-13 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-08-18 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 89.82
2150 With 2021-08-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 89.82
Reconciling 2021-08-18 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 63.83
2185 With 2021-08-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 63.83
Reconciling 2021-08-25 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 64.28
2192 With 2021-08-21 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 64.28
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 420.98
2129 With 2021-08-24 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 420.98

Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 388.17
2188 With 2021-08-24 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 388.17
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 387.72
2195 With 2021-08-24 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 387.72
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 317.66
2146 With 2021-08-24 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 317.66
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 316.38
2153 With 2021-08-24 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 316.38
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 214.09
2212 With 2021-08-24 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 214.09
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 88.78
2168 With 2021-08-24 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 88.78
Reconciling 2021-08-27 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
2119 With 2021-08-25 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2021-08-31 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 452.0
2123 With 2021-08-26 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 452.0
Reconciling 2021-09-01 00:00:00 BEALS ESTATE AGENT    FLAT 1316-18 ALHAM BGC 497.8
2227 With 2021-08-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 13, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-09-06 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 470.32
2274 With 2021-09-02 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 470.32
Reconciling 2021-09-06 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
2246 With 2021-09-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-09-07 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 99.08
2256 With 2021-09-03 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 99.08
Reconciling 2021-09-09 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2314 With 2021-09-07 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-09-10 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 327.98
2278 With 2021-09-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 327.98
Reconciling 2021-09-13 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 543.6
2252 With 2021-09-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 543.6
Reconciling 2021-09-15 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2270 With 2021-09-11 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-09-16 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2331 With 2021-09-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-09-16 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 202.66
2324 With 2021-09-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 202.66
Reconciling 2021-09-20 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 58.12
2263 With 2021-09-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 58.12
Reconciling 2021-09-20 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 28.59
2303 With 2021-09-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 28.59
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 451.78
2310 With 2021-09-21 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 451.78
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 422.75
2306 With 2021-09-21 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 422.75
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 420.96
2242 With 2021-09-21 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 420.96
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 352.92
2259 With 2021-09-21 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 352.92
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 348.08
2266 With 2021-09-21 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 348.08
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 249.34
2327 With 2021-09-21 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 249.34
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 124.02
2281 With 2021-09-21 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 124.02
Reconciling 2021-09-29 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
2232 With 2021-09-25 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2021-09-30 00:00:00 BEALS ESTATE AGENT    FLAT 1316-18 ALHAM BGC 491.8
2343 With 2021-09-28 00:00:00 Amount payable to Mr Mathew Tucker - Flat 13, 16-18 Alhambra Road, Southsea 491.8
Reconciling 2021-09-30 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 446.0
2237 With 2021-09-28 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 446.0
Reconciling 2021-10-06 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
2390 With 2021-10-04 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-10-06 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 63.83
2383 With 2021-10-04 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 63.83
Reconciling 2021-10-06 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 470.32
2404 With 2021-10-04 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 470.32
Reconciling 2021-10-11 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2356 With 2021-10-07 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-10-12 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 292.72
2408 With 2021-10-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 292.72
Reconciling 2021-10-13 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 543.6
2427 With 2021-10-11 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 543.6
Reconciling 2021-10-14 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2400 With 2021-10-12 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-10-15 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 167.42
2361 With 2021-10-13 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 167.42
Reconciling 2021-10-15 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2368 With 2021-10-13 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 159.28
2411 With 2021-10-19 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 159.28
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 416.75
2421 With 2021-10-19 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 416.75
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 406.2
2415 With 2021-10-19 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 406.2
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 284.58
2364 With 2021-10-19 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 284.58
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 420.97
2396 With 2021-10-19 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 420.97
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 388.17
2386 With 2021-10-19 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 388.17
Reconciling 2021-10-22 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 416.75
2352 With 2021-10-20 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 416.75
Reconciling 2021-10-28 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
2375 With 2021-10-26 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2021-10-29 00:00:00 BEALS ESTATE AGENT    FLAT 1316-18 ALHAM BGC 503.8
2372 With 2021-10-27 00:00:00 Amount payable to Mr Mathew Tucker - Flat 13, 16-18 Alhambra Road, Southsea 503.8
Reconciling 2021-11-02 00:00:00 BEALS ESTATE AGENT    FLAT 4321 LONDON R BGC 99.08
2380 With 2021-10-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 4, 321 London Road, Portsmouth 99.08
Reconciling 2021-11-04 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
2499 With 2021-11-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-11-05 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 442.84
2513 With 2021-11-03 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 442.84
Reconciling 2021-11-11 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2474 With 2021-11-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-11-11 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 257.48
2517 With 2021-11-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 257.48
Reconciling 2021-11-11 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 543.6
2536 With 2021-11-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 543.6
Reconciling 2021-11-12 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2509 With 2021-11-10 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-11-16 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 132.17
2479 With 2021-11-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 132.17
Reconciling 2021-11-17 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2486 With 2021-11-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 319.83
2482 With 2021-11-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 319.83
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 194.52
2520 With 2021-11-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 194.52
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 29.47
2467 With 2021-11-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 29.47
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 375.24
2524 With 2021-11-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 375.24
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 451.34
2495 With 2021-11-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 451.34
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 416.76
2530 With 2021-11-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 416.76
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 420.96
2505 With 2021-11-16 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 420.96

Reconciling 2021-11-24 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 387.28
2470 With 2021-11-22 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 387.28
Reconciling 2021-11-29 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
2490 With 2021-11-25 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2021-12-06 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
2604 With 2021-12-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2021-12-06 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 470.32
2618 With 2021-12-02 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 470.32
Reconciling 2021-12-08 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2580 With 2021-12-06 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2021-12-10 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 222.23
2622 With 2021-12-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 222.23
Reconciling 2021-12-13 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 525.28
2641 With 2021-12-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 525.28
Reconciling 2021-12-15 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2614 With 2021-12-11 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2589 With 2021-12-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 452.0
2585 With 2021-12-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 452.0
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 229.77
2625 With 2021-12-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 229.77
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 416.75
2637 With 2021-12-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 416.75
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 64.72
2573 With 2021-12-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 64.72
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 374.51
2631 With 2021-12-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 374.51
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 420.96
2610 With 2021-12-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 420.96
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 416.75
2600 With 2021-12-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 416.75
Reconciling 2021-12-22 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 352.04
2576 With 2021-12-20 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 352.04
Reconciling 2021-12-30 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 434.0
2594 With 2021-12-29 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 434.0
Reconciling 2022-01-07 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 470.32
2719 With 2022-01-05 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 470.32
Reconciling 2022-01-07 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
2705 With 2022-01-05 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2022-01-11 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2681 With 2022-01-07 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2022-01-11 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 186.98
2723 With 2022-01-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 186.98
Reconciling 2022-01-13 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 420.97
2711 With 2022-01-11 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 420.97
Reconciling 2022-01-13 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 100.4
2737 With 2022-01-11 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 100.4
Reconciling 2022-01-13 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 99.96
2674 With 2022-01-11 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 99.96
Reconciling 2022-01-13 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 416.76
2701 With 2022-01-11 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 416.76
Reconciling 2022-01-13 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 265.02
2726 With 2022-01-11 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 265.02
Reconciling 2022-01-14 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 452.0
2686 With 2022-01-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 452.0
Reconciling 2022-01-14 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2715 With 2022-01-12 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2022-01-14 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 56.65
2730 With 2022-01-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 56.65
Reconciling 2022-01-17 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2690 With 2022-01-13 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2022-01-18 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 316.34
2740 With 2022-01-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 316.34
Reconciling 2022-01-18 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 317.85
2733 With 2022-01-14 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 317.85
Reconciling 2022-01-24 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 316.79
2677 With 2022-01-20 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 316.79
Reconciling 2022-01-27 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 458.0
2694 With 2022-01-25 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 458.0
Reconciling 2022-02-04 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 479.48
2836 With 2022-02-02 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 479.48
Reconciling 2022-02-04 00:00:00 BEALS ESTATE AGENT    FLAT 3169 FAWCETT  BGC 452.0
2827 With 2022-02-02 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 169 Fawcett Road, Southsea 452.0
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 88.35
2805 With 2022-02-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 88.35
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 420.96
CANNOT RECONCILE
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 135.21
2778 With 2022-02-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 135.21
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 416.75
2823 With 2022-02-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 416.75
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 135.66
2798 With 2022-02-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 135.66
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 452.0
2840 With 2022-02-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 452.0
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2785 With 2022-02-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2022-02-11 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 519.28
2794 With 2022-02-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 519.28
Reconciling 2022-02-14 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2830 With 2022-02-10 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2022-02-16 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 449.18

2790 With 2022-02-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 449.18
Reconciling 2022-02-17 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 286.16
2808 With 2022-02-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 286.16
Reconciling 2022-02-17 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2812 With 2022-02-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2022-02-17 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 281.1
2801 With 2022-02-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 281.1
Reconciling 2022-02-24 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 281.54
2781 With 2022-02-22 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 281.54
Reconciling 2022-03-01 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
2816 With 2022-02-25 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Reconciling 2022-03-04 00:00:00 BEALS ESTATE AGENT    196A KINGSTON ROAD BGC 488.64
2923 With 2022-03-02 00:00:00 Amount payable to Mr Mathew Tucker - 196a Kingston Road, Portsmouth 488.64
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 68 ALHAMBRA R BGC 452.0
2927 With 2022-03-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 8 Alhambra Road, Southsea 452.0
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 1169 FAWCETT  BGC 420.98
2913 With 2022-03-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 169 Fawcett Road, Southsea 420.98
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 170.46
2967 With 2022-03-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 170.46
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 170.9
2938 With 2022-03-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 170.9
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 1412-14 ALHAM BGC 452.0
2887 With 2022-03-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 14, 12-14 Alhambra Road, Southsea 452.0
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 120.04
2931 With 2022-03-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 120.04
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 2171 FAWCETT  BGC 416.74
2907 With 2022-03-08 00:00:00 Amount payable to Mr Mathew Tucker - Flat 2, 171 Fawcett Road, Southsea 416.74
Reconciling 2022-03-11 00:00:00 BEALS ESTATE AGENT    FLAT 1171 FAWCETT  BGC 635.2
2947 With 2022-03-09 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 171 Fawcett Road, Southsea 635.2
Reconciling 2022-03-16 00:00:00 BEALS ESTATE AGENT    SHOP196 KINGSTON R BGC 314.6
2917 With 2022-03-12 00:00:00 Amount payable to Mr Mathew Tucker - Shop, 196 Kingston Road, Portsmouth 314.6
Reconciling 2022-03-16 00:00:00 BEALS ESTATE AGENT    FLAT 616-18 ALHAMB BGC 416.75
2893 With 2022-03-12 00:00:00 Amount payable to Mr Mathew Tucker - Flat 6, 16-18 Alhambra Road, Southsea 416.75
Reconciling 2022-03-17 00:00:00 BEALS ESTATE AGENT    FLAT 3163 FRATTON  BGC 254.46
2934 With 2022-03-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 3, 163 Fratton Road, Portsmouth 254.46
Reconciling 2022-03-17 00:00:00 BEALS ESTATE AGENT    FLAT 712-14 ALHAMB BGC 245.85
2941 With 2022-03-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 7, 12-14 Alhambra Road, Southsea 245.85
Reconciling 2022-03-17 00:00:00 BEALS ESTATE AGENT    FLAT 1116-18 ALHAM BGC 497.8
2897 With 2022-03-15 00:00:00 Amount payable to Mr Mathew Tucker - Flat 11, 16-18 Alhambra Road, Southsea 497.8
Reconciling 2022-03-24 00:00:00 BEALS ESTATE AGENT    FLAT 1012-14 ALHAM BGC 246.3
2970 With 2022-03-22 00:00:00 Amount payable to Mr Mathew Tucker - Flat 10, 12-14 Alhambra Road, Southsea 246.3
Reconciling 2022-03-29 00:00:00 BEALS ESTATE AGENT    FLAT 1321 LONDON R BGC 446.0
2901 With 2022-03-25 00:00:00 Amount payable to Mr Mathew Tucker - Flat 1, 321 London Road, Portsmouth 446.0
Errors=2

#### Reconcile 3072 with Beals

In [12]:
reconcile_bank_with_beals(df3,dfB,3072)

Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 202.91
1699 With 2021-04-06 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 202.91
Reconciling 2021-04-08 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 422.29
1687 With 2021-04-06 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 422.29
Reconciling 2021-04-09 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 138.21
1691 With 2021-04-07 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 138.21
Reconciling 2021-04-09 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 38.45
1678 With 2021-04-07 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 38.45
Reconciling 2021-04-21 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 405.27
1681 With 2021-04-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 405.27
Reconciling 2021-04-21 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 288.39
1694 With 2021-04-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 288.39
Reconciling 2021-04-27 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 210.84
1702 With 2021-04-23 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 210.84
Reconciling 2021-05-04 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
1675 With 2021-04-30 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 422.28
1806 With 2021-05-05 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 422.28
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 237.88
1818 With 2021-05-05 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 237.88
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 75.93
1797 With 2021-05-05 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 75.93
Reconciling 2021-05-07 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 174.25
1810 With 2021-05-05 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 174.25
Reconciling 2021-05-20 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 363.02
1800 With 2021-05-18 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 363.02
Reconciling 2021-05-21 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 249.08
1813 With 2021-05-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 249.08
Reconciling 2021-05-26 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 173.6
1821 With 2021-05-24 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 173.6
Reconciling 2021-06-03 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
1933 With 2021-06-01 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 422.29
1972 With 2021-06-02 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 422.29
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 269.24
1950 With 2021-06-02 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 269.24
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 207.5
1981 With 2021-06-02 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 207.5
Reconciling 2021-06-04 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 111.88
1940 With 2021-06-02 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 111.88
Reconciling 2021-06-22 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 326.02
1943 With 2021-06-18 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 326.02
Reconciling 2021-06-23 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 213.51
1984 With 2021-06-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 213.51
Reconciling 2021-06-28 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 139.08
1953 With 2021-06-24 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 139.08
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 148.88
1947 With 2021-06-29 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 148.88
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 243.07
1988 With 2021-06-29 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 243.07
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 303.76
1957 With 2021-06-29 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 303.76
Reconciling 2021-07-01 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 422.29
1978 With 2021-06-29 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 422.29
Reconciling 2021-07-02 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
1937 With 2021-06-30 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-07-22 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 177.93
2107 With 2021-07-20 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 177.93
Reconciling 2021-07-22 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 289.0
2052 With 2021-07-20 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 289.0
Reconciling 2021-07-27 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 104.57
2065 With 2021-07-23 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 104.57
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 284.65
2110 With 2021-07-27 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 284.65
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 428.3
2092 With 2021-07-27 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 428.3
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 191.9
2055 With 2021-07-27 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 191.9
Reconciling 2021-07-29 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 344.27
2068 With 2021-07-27 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 344.27
Reconciling 2021-08-03 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
2049 With 2021-07-30 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-08-20 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 246.0
2173 With 2021-08-18 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 246.0
Reconciling 2021-08-23 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 136.35
2220 With 2021-08-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 136.35
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 442.84
2181 With 2021-08-24 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 442.84
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 422.29
2205 With 2021-08-24 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 422.29
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 320.23
2223 With 2021-08-24 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 320.23
Reconciling 2021-08-26 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 228.9
2176 With 2021-08-24 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 228.9
Reconciling 2021-09-03 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
2285 With 2021-09-01 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-09-22 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 208.99
2292 With 2021-09-20 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 208.99
Reconciling 2021-09-22 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 100.78
2335 With 2021-09-20 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 100.78
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 422.29
2320 With 2021-09-21 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 422.29
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 355.8
2338 With 2021-09-21 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 355.8
Reconciling 2021-09-23 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 265.91
2295 With 2021-09-21 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 265.91
Reconciling 2021-09-27 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 442.84
2299 With 2021-09-23 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 442.84
Reconciling 2021-10-04 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
2289 With 2021-09-30 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-10-06 00:00:00 BEALS ESTATE AGENT    FLAT 1616-18 ALHAM BGC 2843.4
2460 With 2021-10-04 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 16-18 Alhambra Road, Southsea 2843.4
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 422.29
2442 With 2021-10-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 422.29
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 456.58

2446 With 2021-10-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 456.58
Reconciling 2021-10-21 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 474.9
2432 With 2021-10-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 474.9
Reconciling 2021-10-27 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 409.35
2436 With 2021-10-23 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 409.35
Reconciling 2021-11-03 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
2540 With 2021-11-01 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 27.49
2551 With 2021-11-16 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 27.49
Reconciling 2021-11-18 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 281.01
2558 With 2021-11-16 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 281.01
Reconciling 2021-11-22 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 474.9
2547 With 2021-11-18 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 474.9
Reconciling 2021-11-23 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 456.58
2565 With 2021-11-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 456.58
Reconciling 2021-11-23 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 141.28
2561 With 2021-11-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 141.28
Reconciling 2021-11-25 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 380.84
2554 With 2021-11-23 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 380.84
Reconciling 2021-12-02 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 223.0
2544 With 2021-11-30 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 223.0
Reconciling 2021-12-06 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 229.0
2645 With 2021-12-02 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 229.0
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 316.72
2660 With 2021-12-14 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 316.72
Reconciling 2021-12-16 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 62.0
2653 With 2021-12-14 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 62.0
Reconciling 2021-12-22 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 474.9
2649 With 2021-12-20 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 474.9
Reconciling 2021-12-22 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 421.05
2667 With 2021-12-20 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 421.05
Reconciling 2021-12-22 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 105.56
2663 With 2021-12-20 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 105.56
Reconciling 2021-12-24 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 346.32
2656 With 2021-12-23 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 346.32
Reconciling 2022-01-07 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
2745 With 2022-01-05 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2022-01-13 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 352.44
2760 With 2022-01-11 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 352.44
Reconciling 2022-01-13 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 96.52
2753 With 2022-01-11 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 96.52
Reconciling 2022-01-14 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 29.53
2767 With 2022-01-12 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 29.53
Reconciling 2022-01-20 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 474.9
2749 With 2022-01-18 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 474.9
Reconciling 2022-01-21 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 69.86
2763 With 2022-01-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 69.86
Reconciling 2022-01-21 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 391.47
2770 With 2022-01-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 391.47
Reconciling 2022-01-27 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 311.8
2756 With 2022-01-25 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 311.8
Reconciling 2022-02-04 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
2844 With 2022-02-02 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 65.11
2866 With 2022-02-08 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 65.11
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 388.14
2859 With 2022-02-08 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 388.14
Reconciling 2022-02-10 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 131.04
2852 With 2022-02-08 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 131.04
Reconciling 2022-02-22 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 355.89
2869 With 2022-02-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 355.89
Reconciling 2022-02-22 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 467.86
2848 With 2022-02-18 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 467.86
Reconciling 2022-02-24 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 34.15
2862 With 2022-02-22 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 34.15
Reconciling 2022-02-25 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 277.29
2855 With 2022-02-23 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 277.29
Reconciling 2022-02-28 00:00:00 BEALS ESTATE AGENT    FLAT 1616-18 ALHAM BGC 2855.4
2884 With 2022-02-24 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 16-18 Alhambra Road, Southsea 2855.4
Reconciling 2022-03-04 00:00:00 BEALS ESTATE AGENT    FLAT 78 ALHAMBRA R BGC 452.0
2951 With 2022-03-02 00:00:00 Amount payable to Ms Ivana Valentino - Flat 7, 8 Alhambra Road, Southsea 452.0
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 165.55
2960 With 2022-03-08 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 165.55
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 100.69
2978 With 2022-03-08 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 100.69
Reconciling 2022-03-10 00:00:00 BEALS ESTATE AGENT    FLAT 1612-14 ALHAM BGC 422.29
2974 With 2022-03-08 00:00:00 Amount payable to Ms Ivana Valentino - Flat 16, 12-14 Alhambra Road, Southsea 422.29
Reconciling 2022-03-22 00:00:00 BEALS ESTATE AGENT    FLAT 1216-18 ALHAM BGC 320.31
2981 With 2022-03-19 00:00:00 Amount payable to Ms Ivana Valentino - Flat 12, 16-18 Alhambra Road, Southsea 320.31
Reconciling 2022-03-22 00:00:00 BEALS ESTATE AGENT    FLAT 312-14 ALHAMB BGC 437.89
2957 With 2022-03-18 00:00:00 Amount payable to Ms Ivana Valentino - Flat 3, 12-14 Alhambra Road, Southsea 437.89
Reconciling 2022-03-25 00:00:00 BEALS ESTATE AGENT    FLAT 512-14 ALHAMB BGC 242.78
2963 With 2022-03-23 00:00:00 Amount payable to Ms Ivana Valentino - Flat 5, 12-14 Alhambra Road, Southsea 242.78
Errors=0

#### Tidy reconciliation flag

In [13]:
# Backfill reconciliation flag so we know what bank account all Beals transactions relate to
dfB['ReconciledBank'] = dfB.groupby('ID')['ReconciledBank'].bfill()
dfB['ReconciledBank'].fillna(value=0, inplace=True)
dfB['ReconciledBankAccount'] = dfB.groupby('ID')['ReconciledBankAccount'].bfill()
dfB['ReconciledBankAccount'] = dfB.groupby('ID')['ReconciledBankAccount'].ffill()

#### Error check - Bank transactions not reconciled to Payments

- check Beals data is complete if there are bank payments without a Beals record

In [14]:
df6.loc[(df6['Memo'].str.contains("BEALS ESTATE AGENT"))&(df6.ReconciledBeals==0)]

,Date,Account,Amount,Subcategory,Memo,Property,Description,Category,ReconciledBeals
1,2021-04-06,20-74-09 60458872,29.71,DIRECTDEP,BEALS ESTATE AGENT FLAT 4321 LONDON R BGC,F4321LON,NaN,BealsRentalIncome,0.0
1380,2022-02-10,20-74-09 60458872,420.96,DIRECTDEP,BEALS ESTATE AGENT FLAT 1169 FAWCETT BGC,F1169FAW,NaN,BealsRentalIncome,0.0

In [15]:
df3.loc[(df3['Memo'].str.contains("BEALS ESTATE AGENT"))&(df3.ReconciledBeals==0)]

Empty DataFrame
Columns: [Date, Account, Amount, Subcategory, Memo, Property, Description, Category, ReconciledBeals]
Index: []

#### Error check - Payments not reconciled to Bank transaction
- there could be Beals payments at end of year which were paid into bank after year end
- need to contact Beals if there payments on other dates

In [16]:
dfB.loc[(dfB['Item Description'].str.contains("Amount payable"))&(dfB['Item Description'].str.contains("Tucker"))&(dfB.ReconciledBank==0)]

,Date,ID,Activity I D,Date Created,Item Description,Document Type,Document Number,Debit Amount,Credit Amount,ID Check,Amount,CumAmount,ReconciledBank,ReconciledBankAccount
3032,2022-04-05,196AKIN,879668,2022-04-05 16:12:00,Amount payable to Mr Mathew Tucker - 196a King...,Statement,260754,470.32,0.0,PM,470.32,0.0,0.0,6045.0

In [17]:
dfB.loc[(dfB['Item Description'].str.contains("Amount payable"))&(dfB['Item Description'].str.contains("Valentino"))&(dfB.ReconciledBank==0)]

,Date,ID,Activity I D,Date Created,Item Description,Document Type,Document Number,Debit Amount,Credit Amount,ID Check,Amount,CumAmount,ReconciledBank,ReconciledBankAccount
3060,2022-04-05,F78ALH,879668,2022-04-05 16:12:00,"Amount payable to Ms Ivana Valentino - Flat 7,...",Statement,260998,452.0,0.0,PM,452.0,0.0,0.0,3072.0

#### Payments with transactions from previous year

The dates on below transactions should all be around start of year. The cumulative amounts of 6 indicate Legislation & Compliance charges in previous period but paid for in this period. Dates later in year can indicate missing data in Beals spreadsheet so check the Beals paper statements match the Beals data.

In [18]:
dfB.loc[(dfB['Item Description'].str.contains("Amount payable"))&(dfB.CumAmount!=0)&(dfB.ReconciledBankAccount==6045)].sort_values(by=['Date'])

,Date,ID,Activity I D,Date Created,Item Description,Document Type,Document Number,Debit Amount,Credit Amount,ID Check,Amount,CumAmount,ReconciledBank,ReconciledBankAccount
1670,2021-04-06,196AKIN,799968,2021-04-06 11:58:00,Amount payable to Mr Mathew Tucker - 196a King...,Statement,228001,470.32,0.0,PM,470.32,-6.0,1.0,6045.0
1634,2021-04-06,F101214ALH,799968,2021-04-06 11:58:00,"Amount payable to Mr Mathew Tucker - Flat 10, ...",Statement,228167,208.26,0.0,PM,208.26,-6.0,1.0,6045.0
1605,2021-04-06,F1169FAW,799968,2021-04-06 11:58:00,"Amount payable to Mr Mathew Tucker - Flat 1, 1...",Statement,228164,426.57,0.0,PM,426.57,-6.0,1.0,6045.0
1641,2021-04-06,F141214ALH,799968,2021-04-06 11:58:00,"Amount payable to Mr Mathew Tucker - Flat 14, ...",Statement,228169,452.00,0.0,PM,452.00,-6.0,1.0,6045.0
1615,2021-04-06,F2171FAW,799968,2021-04-06 11:58:00,"Amount payable to Mr Mathew Tucker - Flat 2, 1...",Statement,228172,422.29,0.0,PM,422.29,-6.0,1.0,6045.0
1609,2021-04-06,F3169FAW,799968,2021-04-06 11:58:00,"Amount payable to Mr Mathew Tucker - Flat 3, 1...",Statement,228176,452.00,0.0,PM,452.00,-6.0,1.0,6045.0
1630,2021-04-06,F41214ALH,799968,2021-04-06 11:58:00,"Amount payable to Mr Mathew Tucker - Flat 4, 1...",Statement,228177,474.90,0.0,PM,474.90,-6.0,1.0,6045.0
1706,2021-04-06,F71214ALH,799968,2021-04-06 11:58:00,"Amount payable to Mr Mathew Tucker - Flat 7, 1...",Statement,228184,205.92,0.0,PM,205.92,-6.0,1.0,6045.0
1619,2021-04-07,F3163FRA,800659,2021-04-07 14:45:00,"Amount payable to Mr Mathew Tucker - Flat 3, 1...",Statement,228406,153.99,0.0,PM,153.99,-6.0,1.0,6045.0
1645,2021-04-07,F61618ALH,800659,2021-04-07 14:45:00,"Amount payable to Mr Mathew Tucker - Flat 6, 1...",Statement,228413,31.85,0.0,PM,31.85,-6.0,1.0,6045.0
1626,2021-04-08,F68ALH,800890,2021-04-08 11:04:00,"Amount payable to Mr Mathew Tucker - Flat 6, 8...",Statement,228484,452.00,0.0,PM,452.00,-6.0,1.0,6045.0
1662,2021-04-09,F1171FAW,801265,2021-04-09 12:05:00,"Amount payable to Mr Mathew Tucker - Flat 1, 1...",Statement,228539,550.80,0.0,PM,550.80,-6.0,1.0,6045.0
1666,2021-04-09,SHOP196KIN,801265,2021-04-09 12:05:00,"Amount payable to Mr Mathew Tucker - Shop, 196...",Statement,228546,314.60,0.0,PM,314.60,-6.0,1.0,6045.0
1652,2021-04-13,F111618ALH,802278,2021-04-13 12:01:00,"Amount payable to Mr Mathew Tucker - Flat 11, ...",Statement,228897,497.80,0.0,PM,497.80,-6.0,1.0,6045.0
1589,2021-04-26,F1321LON,805708,2021-04-26 11:13:00,"Amount payable to Mr Mathew Tucker - Flat 1, 3...",Statement,230073,446.00,0.0,PM,446.00,-12.0,1.0,6045.0

In [31]:
dfB['Amount'].loc[(dfB['Item Description'].str.contains("Amount payable"))&(dfB.CumAmount!=0)&(dfB.ReconciledBankAccount==6045)].sum()

5559.3

In [20]:
# Output to file
#dfB.loc[(dfB['Item Description'].str.contains("Amount payable"))&(dfB.CumAmount!=0)&(dfB.ReconciledBankAccount==6045)].sort_values(by=['Date']).to_excel(path+'6045_prevyr.xlsx',sheet_name='6045', index=False)

In [21]:
dfB.loc[(dfB['Item Description'].str.contains("Amount payable"))&(dfB.CumAmount!=0)&(dfB.ReconciledBankAccount==3072)].sort_values(by=['Date'])

,Date,ID,Activity I D,Date Created,Item Description,Document Type,Document Number,Debit Amount,Credit Amount,ID Check,Amount,CumAmount,ReconciledBank,ReconciledBankAccount
1687,2021-04-06,F161214ALH,799968,2021-04-06 11:58:00,Amount payable to Ms Ivana Valentino - Flat 16...,Statement,228171,422.29,0.0,PM,422.29,-6.0,1.0,3072.0
1699,2021-04-06,F51214ALH,799968,2021-04-06 11:58:00,"Amount payable to Ms Ivana Valentino - Flat 5,...",Statement,228181,202.91,0.0,PM,202.91,-6.0,1.0,3072.0
1691,2021-04-07,F121618ALH,800659,2021-04-07 14:45:00,Amount payable to Ms Ivana Valentino - Flat 12...,Statement,228395,138.21,0.0,PM,138.21,-6.0,1.0,3072.0
1678,2021-04-07,F31214ALH,800659,2021-04-07 14:45:00,"Amount payable to Ms Ivana Valentino - Flat 3,...",Statement,228404,38.45,0.0,PM,38.45,-6.0,1.0,3072.0
2460,2021-10-04,F161618ALH,840840,2021-10-04 12:39:00,Amount payable to Ms Ivana Valentino - Flat 16...,Statement,244038,2843.40,0.0,PM,2843.40,-6.0,1.0,3072.0

In [32]:
dfB['Amount'].loc[(dfB['Item Description'].str.contains("Amount payable"))&(dfB.CumAmount!=0)&(dfB.ReconciledBankAccount==3072)].sum()

3645.2599999999998

In [23]:
# Output to file
#dfB.loc[(dfB['Item Description'].str.contains("Amount payable"))&(dfB.CumAmount!=0)&(dfB.ReconciledBankAccount==3072)].sort_values(by=['Date']).to_excel(path+'3072_prevyr.xlsx',sheet_name='3072', index=False)

#### Payments carried forward to next year
- The records in the middle of the year are a result of Beals charging Legal & Compliance fees for flats which we took over after the tenant moved out

In [24]:
dfB.loc[(dfB.ReconciledBank==0)&(dfB.ReconciledBankAccount==6045)].sort_values(by=['ID','Date'])

,Date,ID,Activity I D,Date Created,Item Description,Document Type,Document Number,Debit Amount,Credit Amount,ID Check,Amount,CumAmount,ReconciledBank,ReconciledBankAccount
2924,2022-03-28,196AKIN,877732,2022-03-28 00:56:00,Legislation & Compliance - 196a Kingston Road...,Invoice,344866,6.00,0.0,EX,6.00,6.00,0.0,6045.0
3030,2022-04-05,196AKIN,879405,2022-04-05 15:22:00,Rent for period 01/04/2022 - 30/04/2022 from M...,NaN,0,0.00,520.0,RT,-520.00,-514.00,0.0,6045.0
3031,2022-04-05,196AKIN,879405,2022-04-05 15:22:00,"Management Fee at 7% - 196a Kingston Road, Por...",Invoice,345817,43.68,0.0,MF,43.68,-470.32,0.0,6045.0
3032,2022-04-05,196AKIN,879668,2022-04-05 16:12:00,Amount payable to Mr Mathew Tucker - 196a King...,Statement,260754,470.32,0.0,PM,470.32,0.00,0.0,6045.0
2971,2022-03-28,F101214ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 10, 12-14 Alh...",Invoice,344781,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2898,2022-03-28,F111618ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 11, 16-18 Alh...",Invoice,344828,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2914,2022-03-28,F1169FAW,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 1, 169 Fawcet...",Invoice,344846,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2948,2022-03-28,F1171FAW,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 1, 171 Fawcet...",Invoice,344849,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2902,2022-03-28,F1321LON,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 1, 321 London...",Invoice,344905,12.00,0.0,EX,12.00,12.00,0.0,6045.0
2888,2022-03-28,F141214ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 14, 12-14 Alh...",Invoice,344786,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2908,2022-03-28,F2171FAW,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 2, 171 Fawcet...",Invoice,344851,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2935,2022-03-28,F3163FRA,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 3, 163 Fratto...",Invoice,344839,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2062,2021-07-28,F41214ALH,827767,2021-07-28 00:34:00,"Legislation & Compliance - Flat 4, 12-14 Alha...",Invoice,312677,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2178,2021-08-28,F41214ALH,833866,2021-08-28 00:33:00,"Legislation & Compliance - Flat 4, 12-14 Alha...",Invoice,316640,6.00,0.0,EX,6.00,12.00,0.0,6045.0
2358,2021-10-28,F41214ALH,846027,2021-10-28 00:36:00,"Legislation & Compliance - Flat 4, 12-14 Alha...",Invoice,324579,6.00,0.0,EX,6.00,18.00,0.0,6045.0
2476,2021-11-28,F41214ALH,852357,2021-11-28 00:36:00,"Legislation & Compliance - Flat 4, 12-14 Alha...",Invoice,328640,6.00,0.0,EX,6.00,24.00,0.0,6045.0
2582,2021-12-28,F41214ALH,858709,2021-12-28 00:36:00,"Legislation & Compliance - Flat 4, 12-14 Alha...",Invoice,332705,6.00,0.0,EX,6.00,30.00,0.0,6045.0
2683,2022-01-28,F41214ALH,865664,2022-01-28 00:43:00,"Legislation & Compliance - Flat 4, 12-14 Alha...",Invoice,336878,6.00,0.0,EX,6.00,36.00,0.0,6045.0
2787,2022-02-28,F41214ALH,871772,2022-02-28 01:06:00,"Legislation & Compliance - Flat 4, 12-14 Alha...",Invoice,340861,6.00,0.0,EX,6.00,42.00,0.0,6045.0
2492,2021-11-28,F4321LON,852357,2021-11-28 00:36:00,"Legislation & Compliance - Flat 4, 321 London...",Invoice,328768,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2595,2021-12-28,F4321LON,858709,2021-12-28 00:36:00,"Legislation & Compliance - Flat 4, 321 London...",Invoice,332828,6.00,0.0,EX,6.00,12.00,0.0,6045.0
2696,2022-01-28,F4321LON,865664,2022-01-28 00:43:00,"Legislation & Compliance - Flat 4, 321 London...",Invoice,337000,6.00,0.0,EX,6.00,18.00,0.0,6045.0
2818,2022-02-28,F4321LON,871772,2022-02-28 01:06:00,"Legislation & Compliance - Flat 4, 321 London...",Invoice,340978,6.00,0.0,EX,6.00,24.00,0.0,6045.0
2894,2022-03-28,F61618ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 6, 16-18 Alha...",Invoice,344837,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2928,2022-03-28,F68ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 6, 8 Alhambra...",Invoice,344958,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2942,2022-03-28,F71214ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 7, 12-14 Alha...",Invoice,344794,6.00,0.0,EX,6.00,6.00,0.0,6045.0
2918,2022-03-28,SHOP196KIN,877732,2022-03-28 00:56:00,"Legislation & Compliance - Shop, 196 Kingston...",Invoice,344864,6.00,0.0,EX,6.00,6.00,0.0,6045.0

In [25]:
dfB['Amount'].loc[(dfB.ReconciledBank==0)&(dfB.ReconciledBankAccount==6045)].sum()

144.0

In [26]:
# Output to file
dfB.loc[(dfB.ReconciledBank==0)&(dfB.ReconciledBankAccount==6045)].sort_values(by=['Date']).to_excel(path+'6045_carriedfwd.xlsx',sheet_name='6045', index=False)

In [27]:
dfB.loc[(dfB.ReconciledBank==0)&(dfB.ReconciledBankAccount==3072)].sort_values(by=['ID','Date'])

,Date,ID,Activity I D,Date Created,Item Description,Document Type,Document Number,Debit Amount,Credit Amount,ID Check,Amount,CumAmount,ReconciledBank,ReconciledBankAccount
2982,2022-03-28,F121618ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 12, 16-18 Alh...",Invoice,344829,6.0,0.0,EX,6.0,6.0,0.0,3072.0
2975,2022-03-28,F161214ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 16, 12-14 Alh...",Invoice,344789,6.0,0.0,EX,6.0,6.0,0.0,3072.0
2983,2022-03-28,F161618ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 16, 16-18 Alha...",Invoice,345035,6.0,0.0,EX,6.0,6.0,0.0,3072.0
2964,2022-03-28,F51214ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 5, 12-14 Alha...",Invoice,344793,6.0,0.0,EX,6.0,6.0,0.0,3072.0
2952,2022-03-28,F78ALH,877732,2022-03-28 00:56:00,"Legislation & Compliance - Flat 7, 8 Alhambra...",Invoice,344959,6.0,0.0,EX,6.0,6.0,0.0,3072.0
3058,2022-04-05,F78ALH,879649,2022-04-05 16:08:00,Rent for period 30/03/2022 - 29/04/2022 from M...,NaN,0,0.0,500.0,RT,-500.0,-494.0,0.0,3072.0
3059,2022-04-05,F78ALH,879649,2022-04-05 16:08:00,"Management Fee at 7% - Flat 7, 8 Alhambra Road...",Invoice,346046,42.0,0.0,MF,42.0,-452.0,0.0,3072.0
3060,2022-04-05,F78ALH,879668,2022-04-05 16:12:00,"Amount payable to Ms Ivana Valentino - Flat 7,...",Statement,260998,452.0,0.0,PM,452.0,0.0,0.0,3072.0

In [28]:
dfB['Amount'].loc[(dfB.ReconciledBank==0)&(dfB.ReconciledBankAccount==3072)].sum()

24.0

In [29]:
dfB.loc[(dfB.ReconciledBank==0)&(dfB.ReconciledBankAccount==3072)].sort_values(by=['Date']).to_excel(path+'3072_carriedfwd.xlsx',sheet_name='3072', index=False)

### Output files
- save Bank files with Beals payment reconciliation flag
- save Beals files with bank reconciliation flag, bank account it was paid into and cumulative amount

In [ ]:
file6=backup_file(path+'6045_categorisedAndBealsReconciled.xlsx')
file3=backup_file(path+'3072_categorisedAndBealsReconciled.xlsx')
fileB=backup_file(path+'beals_bankReconciled.xlsx')
df6.to_excel(file6,sheet_name='6045', index=False)
df3.to_excel(file3,sheet_name='3072', index=False)
dfB.to_excel(fileB,sheet_name='beals', index=False)

### Create Beals/Bank reconciliation check
- this file can be used to check that the bank deposits minus agency fees match the Beals payments

In [ ]:
dfB.rename(columns={'ReconciledBankAccount':'BankAccount'},inplace=True)
dfB.rename(columns={'Item Description':'PostNarrative'},inplace=True)
dfB.rename(columns={'ID':'Property'},inplace=True)

In [ ]:
dfB.loc[(dfB.PostNarrative.str.contains('Rent for period'))&(dfB.BankAccount==6045),'Account']='0001'
dfB.loc[(dfB.PostNarrative.str.contains('Rent for period'))&(dfB.BankAccount==6045),'Account Description']='Rental Income'
dfB.loc[(dfB.PostNarrative.str.contains('Rent for period'))&(dfB.BankAccount==6045),'Category']='RentalIncome'
dfB.loc[(dfB.PostNarrative.str.contains('Rent for period'))&(dfB.BankAccount==3072),'Account']='0002'
dfB.loc[(dfB.PostNarrative.str.contains('Rent for period'))&(dfB.BankAccount==3072),'Account Description']='Rental Income'
dfB.loc[(dfB.PostNarrative.str.contains('Rent for period'))&(dfB.BankAccount==3072),'Category']='RentalIncome'

dfB.loc[(dfB.PostNarrative.str.contains('Legislation & Compliance'))&(dfB.BankAccount==6045),'Account']='1570'
dfB.loc[(dfB.PostNarrative.str.contains('Legislation & Compliance'))&(dfB.BankAccount==6045),'Account Description']='Management Fees'
dfB.loc[(dfB.PostNarrative.str.contains('Legislation & Compliance'))&(dfB.BankAccount==6045),'Category']='AgentFees'
dfB.loc[(dfB.PostNarrative.str.contains('Legislation & Compliance'))&(dfB.BankAccount==3072),'Account']='1570'
dfB.loc[(dfB.PostNarrative.str.contains('Legislation & Compliance'))&(dfB.BankAccount==3072),'Account Description']='Management Fees'
dfB.loc[(dfB.PostNarrative.str.contains('Legislation & Compliance'))&(dfB.BankAccount==3072),'Category']='AgentFees'

dfB.loc[(dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==6045),'Account']='1570'
dfB.loc[(dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==6045),'Account Description']='Management Fees'
dfB.loc[(dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==6045),'Category']='AgentFees'
dfB.loc[(dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==3072),'Account']='1570'
dfB.loc[(dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==3072),'Account Description']='Management Fees'
dfB.loc[(dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==3072),'Category']='AgentFees'

dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==6045),'Account']='4801'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==6045),'Account Description']='Payment'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==6045),'Category']='Payment'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==3072),'Account']='4801'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==3072),'Account Description']='Payment'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==3072),'Category']='Payment'

dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==6045),'Account']='4801'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==6045),'Account Description']='Payment'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==6045),'Category']='Payment'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==3072),'Account']='4801'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==3072),'Account Description']='Payment'
dfB.loc[(dfB.PostNarrative.str.contains('Amount payable'))&(dfB.BankAccount==3072),'Category']='Payment'

dfB.loc[(~dfB.PostNarrative.str.contains('Amount payable'))&(~dfB.PostNarrative.str.contains('Rent for period'))&(~dfB.PostNarrative.str.contains('Legislation & Compliance'))&(~dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==6045),'Account']='3140'
dfB.loc[(~dfB.PostNarrative.str.contains('Amount payable'))&(~dfB.PostNarrative.str.contains('Rent for period'))&(~dfB.PostNarrative.str.contains('Legislation & Compliance'))&(~dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==6045),'Account Description']='Repairs, renewals, maintenance'
dfB.loc[(~dfB.PostNarrative.str.contains('Amount payable'))&(~dfB.PostNarrative.str.contains('Rent for period'))&(~dfB.PostNarrative.str.contains('Legislation & Compliance'))&(~dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==6045),'Category']='Maintenance'
dfB.loc[(~dfB.PostNarrative.str.contains('Amount payable'))&(~dfB.PostNarrative.str.contains('Rent for period'))&(~dfB.PostNarrative.str.contains('Legislation & Compliance'))&(~dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==3072),'Account']='3140'
dfB.loc[(~dfB.PostNarrative.str.contains('Amount payable'))&(~dfB.PostNarrative.str.contains('Rent for period'))&(~dfB.PostNarrative.str.contains('Legislation & Compliance'))&(~dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==3072),'Account Description']='Repairs, renewals, maintenance'
dfB.loc[(~dfB.PostNarrative.str.contains('Amount payable'))&(~dfB.PostNarrative.str.contains('Rent for period'))&(~dfB.PostNarrative.str.contains('Legislation & Compliance'))&(~dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==3072),'Category']='Maintenance'

In [33]:
# Check nothing in Beals remains uncategorised
dfB[dfB.Category.isnull()]

,Date,Property,Activity I D,Date Created,PostNarrative,Document Type,Document Number,Debit Amount,Credit Amount,ID Check,Amount,CumAmount,ReconciledBank,BankAccount,Account,Account Description,Category
2347,2021-10-28,F1846ALH,846027,2021-10-28 00:36:00,"Legislation & Compliance - Flat 18, 4-6 Alham...",Invoice,324723,6.0,0.0,EX,6.0,6.0,0.0,NaN,NaN,NaN,NaN
2464,2021-11-28,F1846ALH,852357,2021-11-28 00:36:00,"Legislation & Compliance - Flat 18, 4-6 Alham...",Invoice,328778,6.0,0.0,EX,6.0,12.0,0.0,NaN,NaN,NaN,NaN
2570,2021-12-28,F1846ALH,858709,2021-12-28 00:36:00,"Legislation & Compliance - Flat 18, 4-6 Alham...",Invoice,332837,6.0,0.0,EX,6.0,18.0,0.0,NaN,NaN,NaN,NaN
2671,2022-01-28,F1846ALH,865664,2022-01-28 00:43:00,"Legislation & Compliance - Flat 18, 4-6 Alham...",Invoice,337009,6.0,0.0,EX,6.0,24.0,0.0,NaN,NaN,NaN,NaN
2775,2022-02-28,F1846ALH,871772,2022-02-28 01:06:00,"Legislation & Compliance - Flat 18, 4-6 Alham...",Invoice,340987,6.0,0.0,EX,6.0,30.0,0.0,NaN,NaN,NaN,NaN
2346,2021-10-28,F1946ALH,846027,2021-10-28 00:36:00,"Legislation & Compliance - Flat 19, 4-6 Alham...",Invoice,324725,6.0,0.0,EX,6.0,6.0,0.0,NaN,NaN,NaN,NaN
2463,2021-11-28,F1946ALH,852357,2021-11-28 00:36:00,"Legislation & Compliance - Flat 19, 4-6 Alham...",Invoice,328780,6.0,0.0,EX,6.0,12.0,0.0,NaN,NaN,NaN,NaN
2569,2021-12-28,F1946ALH,858709,2021-12-28 00:36:00,"Legislation & Compliance - Flat 19, 4-6 Alham...",Invoice,332839,6.0,0.0,EX,6.0,18.0,0.0,NaN,NaN,NaN,NaN
2670,2022-01-28,F1946ALH,865664,2022-01-28 00:43:00,"Legislation & Compliance - Flat 19, 4-6 Alham...",Invoice,337011,6.0,0.0,EX,6.0,24.0,0.0,NaN,NaN,NaN,NaN
2774,2022-02-28,F1946ALH,871772,2022-02-28 01:06:00,"Legislation & Compliance - Flat 19, 4-6 Alham...",Invoice,340989,6.0,0.0,EX,6.0,30.0,0.0,NaN,NaN,NaN,NaN
2345,2021-10-28,F2046ALH,846027,2021-10-28 00:36:00,"Legislation & Compliance - Flat 20, 4-6 Alham...",Invoice,324726,6.0,0.0,EX,6.0,6.0,0.0,NaN,NaN,NaN,NaN
2462,2021-11-28,F2046ALH,852357,2021-11-28 00:36:00,"Legislation & Compliance - Flat 20, 4-6 Alham...",Invoice,328781,6.0,0.0,EX,6.0,12.0,0.0,NaN,NaN,NaN,NaN
2568,2021-12-28,F2046ALH,858709,2021-12-28 00:36:00,"Legislation & Compliance - Flat 20, 4-6 Alham...",Invoice,332840,6.0,0.0,EX,6.0,18.0,0.0,NaN,NaN,NaN,NaN
2773,2022-02-28,F2046ALH,871772,2022-02-28 01:06:00,"Legislation & Compliance - Flat 20, 4-6 Alham...",Invoice,340990,6.0,0.0,EX,6.0,24.0,0.0,NaN,NaN,NaN,NaN

In [34]:
cols=['BankAccount','Date','Property','PostNarrative','Amount','Account','Account Description','Category']

In [35]:
dfGr6=dfB.loc[(dfB.PostNarrative.str.contains('Rent for period'))&(dfB.BankAccount==6045)][cols]
dfGr3=dfB.loc[(dfB.PostNarrative.str.contains('Rent for period'))&(dfB.BankAccount==3072)][cols]
dfLc6=dfB.loc[(dfB.PostNarrative.str.contains('Legislation & Compliance'))&(dfB.BankAccount==6045)][cols]
dfLc3=dfB.loc[(dfB.PostNarrative.str.contains('Legislation & Compliance'))&(dfB.BankAccount==3072)][cols]
dfMg6=dfB.loc[(dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==6045)][cols]
dfMg3=dfB.loc[(dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==3072)][cols]
dfOth6=dfB.loc[(~dfB.PostNarrative.str.contains('Amount payable'))&(~dfB.PostNarrative.str.contains('Rent for period'))&(~dfB.PostNarrative.str.contains('Legislation & Compliance'))&(~dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==6045)][cols]
dfOth3=dfB.loc[(~dfB.PostNarrative.str.contains('Amount payable'))&(~dfB.PostNarrative.str.contains('Rent for period'))&(~dfB.PostNarrative.str.contains('Legislation & Compliance'))&(~dfB.PostNarrative.str.contains('Management Fee'))&(dfB.BankAccount==3072)][cols]

In [36]:
df6.rename(columns={'Account':'BankAccount'},inplace=True)
df6.rename(columns={'Memo':'PostNarrative'},inplace=True)
df6['BankAccount']=6045
df6['Account Description']='Payment'
df6.loc[(df6.Category=='BealsRentalIncome'),'Account']='4801'

df3.rename(columns={'Account':'BankAccount'},inplace=True)
df3.rename(columns={'Memo':'PostNarrative'},inplace=True)
df3['BankAccount']=3072
df3['Account Description']='Payment'
df3.loc[(df6.Category=='BealsRentalIncome'),'Account']='4801'

In [37]:
dfBk6=df6.loc[(df6.Category=='BealsRentalIncome')][cols]
dfBk3=df3.loc[(df3.Category=='BealsRentalIncome')][cols]

In [38]:
dfAll6=pd.concat([dfGr6,dfLc6,dfMg6,dfBk6,dfOth6]).sort_values(by=['Property','Date'])
dfAll6.reset_index(drop=True,inplace=True)
dfAll3=pd.concat([dfGr3,dfLc3,dfMg3,dfBk3,dfOth3]).sort_values(by=['Property','Date'])
dfAll3.reset_index(drop=True,inplace=True)

In [39]:
journals=path + 'journals\\'

beals_output_file=backup_file(journals + '3.6.AgentFeesRentalIncomeBankings_Beals_6045.xlsx')
writer = pd.ExcelWriter(beals_output_file, engine='xlsxwriter',datetime_format='dd/mm/yyyy')
dfGr6.to_excel(writer,sheet_name='GrossRent', index=False)
dfLc6.to_excel(writer,sheet_name='Legal', index=False)
dfMg6.to_excel(writer,sheet_name='MgtFee', index=False)
dfOth6.to_excel(writer,sheet_name='Other', index=False)
dfBk6.to_excel(writer,sheet_name='Bank', index=False)
dfAll6.to_excel(writer,sheet_name='All', index=False)
writer.save()

beals_output_file=backup_file(journals + '3.6.AgentFeesRentalIncomeBankings_Beals_3072.xlsx')
writer = pd.ExcelWriter(beals_output_file, engine='xlsxwriter',datetime_format='dd/mm/yyyy')
dfGr3.to_excel(writer,sheet_name='GrossRent', index=False)
dfLc3.to_excel(writer,sheet_name='Legal', index=False)
dfMg3.to_excel(writer,sheet_name='MgtFee', index=False)
dfOth3.to_excel(writer,sheet_name='Other', index=False)
dfBk3.to_excel(writer,sheet_name='Bank', index=False)
dfAll3.to_excel(writer,sheet_name='All', index=False)
writer.save()