In [2]:
import numpy as np
import pandas as pd

In [3]:
path = 'M:/My Documents/Business/Bugisiw Ltd/TaxReturn/TaxReturn_2020-2021/LLP accounts/'

In [4]:
propertyidmap = {
2:'321LON',
1:'F1321LON',
14:'F2321LON',
3:'F3321LON',
4:'F4321LON',
7:'169FAW',
5:'F1169FAW',
6:'F2169FAW',
8:'F3169FAW',
73:'F1171FAW',
74:'F2171FAW',
75:'F3171FAW',
12:'163FRA',
9:'F2163FRA',
10:'F3163FRA',
11:'F4163FRA',
17:'SHOP196KIN',
15:'196AKIN',
44:'196AKIN',
16:'196BKIN',
19:'23BHAM',
34:'23CHAM',
18:'23CHAM',
31:'F58ALH',
30:'F68ALH',
33:'F78ALH',
32:'F88ALH',
26:'F1746ALH',
22:'F1846ALH',
21:'F1946ALH',
25:'F2046ALH',
28:'F2146ALH',
23:'F2246ALH',
27:'F2346ALH',
46:'F31214ALH',
52:'F41214ALH',
47:'F51214ALH',
48:'F71214ALH',
49:'F111214ALH',
53:'F101214ALH',
54:'F141214ALH',
55:'F161214ALH',
66:'F11618ALH',
67:'F31618ALH',
63:'F61618ALH',
68:'F71618ALH',
64:'F111618ALH',
71:'F121618ALH',
70:'F131618ALH',
65:'F161618ALH'
}

In [5]:
startdate = pd.to_datetime('2020-04-06').date()
enddate = pd.to_datetime('2021-04-05').date()

In [6]:
input_file_6045 = path + '6045_categorisedAndBealsReconciled.xlsx'
df6=pd.read_excel(input_file_6045,sheet_name='6045')
df6=df6[~df6.Account.isnull()]
df6=df6[(df6.Date >= startdate)&(df6.Date <= enddate)]

input_file_3072 = path + '3072_categorisedAndBealsReconciled.xlsx'
df3=pd.read_excel(input_file_3072,sheet_name='3072')
df3=df3[~df3.Account.isnull()]
df3=df3[(df3.Date >= startdate)&(df3.Date <= enddate)]

C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.
C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  if __name__ == '__main__':

In [7]:
input_file_beals = path + 'inc_exp_2021_221021_llp_all_7.xls'
dfR=pd.read_excel(input_file_beals,sheet_name='Sheet 1')
dfR=dfR[(dfR.date >= startdate)&(dfR.date <= enddate)]

C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
for index, row in dfR.iterrows():
    dfR.at[index, 'Property']=propertyidmap[row.property_id]

### Check Bank data against Rent Statements
- differences in values indicate that some items may be included in Rent Statements that are missing from Bank

In [9]:
dfBank=pd.concat([df6,df3]).sort_values(by=['Date'])
dfBG=dfBank.groupby('Property')['Amount'].sum()

In [10]:
dfRG=dfR.groupby('Property')['amount'].sum()

In [11]:
dfCheck=pd.concat([dfBG, dfRG], axis=1)
dfCheck.rename(columns={'Amount':'AmountB'},inplace=True)
dfCheck.rename(columns={'amount':'AmountRS'},inplace=True)
dfCheck['Diff']=round(dfCheck.AmountB - dfCheck.AmountRS,2)
dfCheck

            AmountB  AmountRS     Diff
Property
169FAW     -1183.44  -1183.44     0.00
196AKIN     2861.83   2466.53   395.30
196BKIN     6528.84   6528.84     0.00
23BHAM      2172.60   2172.60     0.00
23CHAM      2641.49   2641.49     0.00
321LON     -1683.05  -1683.05     0.00
F101214ALH  2422.03   2422.03     0.00
F111214ALH  4322.08   4322.08     0.00
F111618ALH  4443.96   4443.96     0.00
F11618ALH   4544.56   4544.56     0.00
F1169FAW    4279.63   4279.63     0.00
F1171FAW    4287.05   4293.05    -6.00
F121618ALH  4120.26   4120.26     0.00
F131618ALH  4427.12   4427.12     0.00
F1321LON    3262.80   3262.80     0.00
F141214ALH  3511.84   3511.84     0.00
F161214ALH  4064.07   4059.52     4.55
F161618ALH  5518.68   5512.68     6.00
F1746ALH    6456.80   6456.80    -0.00
F1846ALH    2921.82   2746.83   174.99
F1946ALH    6059.31   6059.31    -0.00
F2046ALH    3573.95   3235.97   337.98
F2146ALH    5100.80   5100.80     0.00
F2169FAW    4446.72   4407.72    39.00
F2171FAW    3622.96   3622.96    -0.00
F2246ALH    4236.65   4236.65     0.00
F2321LON    3919.14   3919.14     0.00
F2346ALH    4063.06   4063.06     0.00
F31214ALH   4013.67   4013.67    -0.00
F31618ALH    952.14    952.14     0.00
F3163FRA    3326.18   3326.18    -0.00
F3169FAW    1954.05   1960.05    -6.00
F3171FAW    3725.95   3725.95     0.00
F3321LON    1987.53   1420.53   567.00
F41214ALH   5234.81   5234.81     0.00
F4163FRA    3401.55   3444.55   -43.00
F4321LON    3281.32   3317.03   -35.71
F51214ALH   3728.31   3728.31    -0.00
F58ALH      2658.68   2658.68     0.00
F61618ALH   3197.73   3197.73     0.00
F68ALH      4025.04   4025.04     0.00
F71214ALH   4066.19   4066.19     0.00
F71618ALH  -5435.63  -5435.63     0.00
F78ALH      4572.04   4578.04    -6.00
F88ALH      2160.93   2160.93     0.00
SHOP196KIN  3313.61   1535.12  1778.49

In [12]:
pty='F3321LON'

In [13]:
dfBank.loc[dfBank.Property==pty].groupby(['Category'])['Amount'].sum()

Category
AgentFees           -1311.00
BealsRentalIncome    1646.40
Deposit               807.00
Maintenance         -3403.00
Mortgage             -777.87
RentalIncome         5026.00
Name: Amount, dtype: float64

In [14]:
dfR.loc[(dfR.Property==pty)].groupby(['cat'])['amount'].sum()

cat
Lettings Agency   -1440.60
Maintenance       -3150.00
Mortgage           -777.87
Tenancy Related    6826.00
Utilities           -37.00
Name: amount, dtype: float64

In [15]:
dfR[(dfR.Property==pty)&(dfR.cat.str.contains('Lettings Agency|Tenancy Related'))].loc[dfR.Property==pty]['amount'].sum()

5385.4

In [16]:
dfR[(dfR.Property==pty)&(dfR.cat.str.contains('Maintenance|Utilities'))].loc[dfR.Property==pty]['amount'].sum()

-3187.0

### Overall view of bank data

In [17]:
dfBank.groupby(['Category'])['Amount'].sum()

Category
Accounting          -2.220000e+02
AgentFees           -6.410000e+03
BealsRentalIncome    1.303674e+05
Block 16-18         -5.000000e+01
Block 4-6           -1.362000e+01
CouncilTax          -5.441270e+03
Deposit              2.079000e+03
Drawings            -1.064438e+05
HMRC                -5.806160e+03
Insurance           -1.571590e+03
Intercompany        -4.547474e-13
Internet            -7.007700e+02
Maintenance         -3.896343e+04
Mobile Phone        -2.529500e+02
MobilePhone         -3.435000e+02
Mortgage            -6.388364e+04
Natwest             -2.361480e+03
OverdraftFee        -6.900000e+01
RentalIncome         1.392060e+05
ServiceCharge       -1.730483e+04
Name: Amount, dtype: float64

In [18]:
df6.groupby(['Category'])['Amount'].sum()

Category
Accounting          -2.220000e+02
AgentFees           -3.581000e+03
BealsRentalIncome    9.433907e+04
Block 16-18         -5.000000e+01
CouncilTax          -3.637800e+03
Deposit              0.000000e+00
Drawings            -5.299684e+04
HMRC                -5.806160e+03
Insurance           -1.571590e+03
Intercompany         4.547474e-13
Maintenance         -2.668052e+04
MobilePhone         -3.435000e+02
Mortgage            -3.386119e+04
Natwest             -2.361480e+03
RentalIncome         6.451000e+04
ServiceCharge       -8.858640e+03
Name: Amount, dtype: float64

In [19]:
df3.groupby(['Category'])['Amount'].sum()

Category
AgentFees            -2829.00
BealsRentalIncome    36028.32
Block 4-6              -13.62
CouncilTax           -1803.47
Deposit               2079.00
Drawings            -53446.97
Internet              -700.77
Maintenance         -12282.91
Mobile Phone          -252.95
Mortgage            -30022.45
OverdraftFee           -69.00
RentalIncome         74696.00
ServiceCharge        -8446.19
Name: Amount, dtype: float64

In [20]:
input_file_6045 = path + '3072_categorisedAndBealsReconciled.xlsx'
df6=pd.read_excel(input_file_6045,sheet_name='3072')
df6=df6[~df6.Account.isnull()]
df6=df6[(df6.Date >= startdate)&(df6.Date <= enddate)]

input_file_IV = path + '300 mvt .xlsx'
dfIV=pd.read_excel(input_file_IV,sheet_name='data (36)')
dfIV=dfIV[~dfIV.Account.isnull()]
#dfIV=dfIV[(dfIV.Date >= startdate)&(dfIV.Date <= enddate)]

C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.

In [21]:
df6['Amount'][(df6.Date>='06/01/2020')&(df6.Date<='06/30/2020')].groupby(by=[df6.Date.dt.date]).sum()

Date
2020-06-01    -802.60
2020-06-02     -37.95
2020-06-03     826.00
2020-06-04    1199.34
2020-06-08     625.00
2020-06-10     232.00
2020-06-12     -37.68
2020-06-15    -122.99
2020-06-16    -200.00
2020-06-22    1093.12
2020-06-23     216.23
2020-06-24     -14.00
2020-06-25     740.76
2020-06-26     -18.10
2020-06-29   -1233.00
Name: Amount, dtype: float64

In [22]:
dfIV['Amount'][(dfIV.Date>='06/01/2020')&(dfIV.Date<='06/30/2020')].groupby(by=[dfIV.Date.dt.date]).sum()

Date
2020-06-01    -802.60
2020-06-02     -37.95
2020-06-03     826.00
2020-06-04    1199.34
2020-06-08     625.00
2020-06-10     232.00
2020-06-12     -37.68
2020-06-15    -122.99
2020-06-16    -200.00
2020-06-22    1093.12
2020-06-23     216.23
2020-06-24     -14.00
2020-06-25     740.76
2020-06-26     -18.10
2020-06-29   -1233.00
Name: Amount, dtype: float64

In [23]:
df6['Amount'].groupby(by=[df6.Date.dt.year, df6.Date.dt.month]).sum()

Date  Date
2020  4      -8731.74
      5       3980.43
      6       2466.13
      7       3422.26
      8       2427.00
      9       1013.70
      10      -804.48
      11       244.69
      12      2616.36
2021  1      -2613.98
      2       -307.16
      3        -84.60
      4       -692.62
Name: Amount, dtype: float64

In [24]:
dfIV['Amount'].groupby(by=[dfIV.Date.dt.year, dfIV.Date.dt.month]).sum()

Date  Date
2020  4      -8731.74
      5       3980.43
      6       2466.13
      7       3422.26
      8       2427.00
      9       1013.70
      10      -804.48
      11       244.69
      12      2616.36
2021  1      -2613.98
      2       -307.16
      3        -84.60
      4       -692.62
Name: Amount, dtype: float64

In [25]:
df6['Amount'].sum()

2935.989999999997

In [26]:
dfIV['Amount'].sum()

2935.9900000000043

### Split rent dates - may need to move this somewhere else
- this should be put in journals generation and used to apportion rents that cross start/end periods of financial year

In [72]:
datetime.strptime('29/02/2020', "%d/%m/%Y").date()

datetime.date(2020, 2, 29)

In [83]:
import re
from datetime import datetime

start_period=datetime.strptime('06/04/2020', "%d/%m/%Y").date()
end_period=datetime.strptime('05/04/2021', "%d/%m/%Y").date()

for index, row in df6[(df6.Category=='RentalIncome')].iterrows():
    #print('>>>>>>>>>>>>>>>>>>>>>>>>>')
    search=re.search("^Rent for period ([0-9]{2}\/[0-9]{2}\/[0-9]{4})\s*-\s*([0-9]{2}\/[0-9]{2}\/[0-9]{4}) from.*$", row.Description)
    #print(search.group(1))
    #print(search.group(2))
    start_date_str=search.group(1)
    if(start_date_str=='30/02/2021'): start_date_str='01/03/2021' # Correct dates
    start_date=datetime.strptime(start_date_str, "%d/%m/%Y").date()
    end_date_str=search.group(2)
    if(end_date_str=='29/02/2021'): end_date_str='01/03/2021'  # Correct dates
    end_date=datetime.strptime(end_date_str, "%d/%m/%Y").date()
    if((start_date<start_period)):
        #print(start_period-start_date)
        print(row)

Date                                             2020-04-08 00:00:00
Account                                            20-53-97 30728691
Amount                                                           375
Subcategory                                                DIRECTDEP
Memo                    TADIWANASHE DUNIRA    Rent               BGC
Property                                                      23CHAM
Description        Rent for period 30/03/2020 - 30/04/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 3, dtype: object
Date                                             2020-04-20 00:00:00
Account                                            20-53-97 30728691
Amount                                                         387.5
Subcategory                                                DIRECTDEP
Memo                    TADIWANASHE DUNIRA    Rent               BGC
Property                                                      23CHAM
Description        Rent for period 30/03/2020 - 30/04/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 30, dtype: object
Date                                             2020-04-21 00:00:00
Account                                            20-53-97 30728691
Amount                                                          12.5
Subcategory                                                DIRECTDEP
Memo                    TADIWANASHE DUNIRA    Rent               BGC
Property                                                      23CHAM
Description        Rent for period 30/03/2020 - 30/04/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 32, dtype: object
Date                                             2020-04-30 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/02/2019 - 24/03/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 42, dtype: object
Date                                             2020-05-18 00:00:00
Account                                            20-53-97 30728691
Amount                                                          1011
Subcategory                                                DIRECTDEP
Memo                    FAHIM HANIFI          171 fawcett road   BGC
Property                                                    F3171FAW
Description        Rent for period 21/03/2020 -30/04/2020 from Mr...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 67, dtype: object
Date                                             2020-06-01 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/03/2019 - 24/04/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 84, dtype: object
Date                                             2020-07-03 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/04/2019 - 24/05/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 152, dtype: object
Date                                             2020-07-31 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/05/2019 - 24/06/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 196, dtype: object
Date                                             2020-08-28 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/06/2019 - 24/07/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 257, dtype: object
Date                                             2020-09-30 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/07/2019 - 24/08/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 328, dtype: object
Date                                             2020-10-30 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/08/2019 - 24/09/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 396, dtype: object
Date                                             2020-11-30 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/09/2019 - 24/10/2020 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 457, dtype: object
Date                                             2020-12-29 00:00:00
Account                                            20-53-97 30728691
Amount                                                           720
Subcategory                                                DIRECTDEP
Memo                    M Williams            RENT               BGC
Property                                                     196BKIN
Description        Rent for period 25/10/2019 - 24/01/2021 from M...
Category                                                RentalIncome
ReconciledBeals                                                  NaN
Name: 521, dtype: object

In [31]:
df6[(df6.Category=='RentalIncome')&(df6.Description.str.contains("Rent for period ([0-9]{2}\/[0-9]{2}\/[0-9]{4}) - ([0-9]{2}\/[0-9]{2}\/[0-9]{4})"))]

,Date,Account,Amount,Subcategory,Memo,Property,Description,Category,ReconciledBeals
3,2020-04-08,20-53-97 30728691,375.0,DIRECTDEP,TADIWANASHE DUNIRA Rent BGC,23CHAM,Rent for period 30/03/2020 - 30/04/2020 from M...,RentalIncome,NaN
9,2020-04-14,20-53-97 30728691,625.0,DIRECTDEP,STUKAS G FLAT 21 BGC,F2146ALH,Rent for period 22/04/2020 - 21/05/2020 from M...,RentalIncome,NaN
30,2020-04-20,20-53-97 30728691,387.5,DIRECTDEP,TADIWANASHE DUNIRA Rent BGC,23CHAM,Rent for period 30/03/2020 - 30/04/2020 from M...,RentalIncome,NaN
32,2020-04-21,20-53-97 30728691,12.5,DIRECTDEP,TADIWANASHE DUNIRA Rent BGC,23CHAM,Rent for period 30/03/2020 - 30/04/2020 from M...,RentalIncome,NaN
37,2020-04-27,20-53-97 30728691,600.0,STO,MR MICHAEL BETTS FT11 12-14ALHAMBRA STO,F111214ALH,Rent for period 25/04/2020 - 24/05/2020 from M...,RentalIncome,NaN
...,...,...,...,...,...,...,...,...,...
710,2021-03-15,20-53-97 30728691,600.0,DIRECTDEP,Barber Bria DEPOSIT BGC,F31618ALH,Rent for period 15/03/2021 - 14/04/2021 from M...,RentalIncome,NaN
712,2021-03-19,20-53-97 30728691,625.0,DIRECTDEP,STUKAS G FLAT 21 RENT BGC,F2146ALH,Rent for period 22/03/2021 - 21/04/2021 from M...,RentalIncome,NaN
720,2021-03-25,20-53-97 30728691,600.0,STO,MR MICHAEL BETTS FT11 12-14ALHAMBRA STO,F111214ALH,Rent for period 25/03/2021 - 24/04/2021 from M...,RentalIncome,NaN
726,2021-03-29,20-53-97 30728691,775.0,DIRECTDEP,N Raja Mohammad RENT FOR 23C BGC,23CHAM,Rent for period 30/03/2021 - 29/04/2021 from M...,RentalIncome,NaN
728,2021-03-31,20-53-97 30728691,720.0,DIRECTDEP,M Williams RENT BGC,196BKIN,Rent for period 25/03/2021 - 24/04/2021 from M...,RentalIncome,NaN

In [ ]:
re.search("([0-9]{2}\-[0-9]{2}\-[0-9]{4})", fileName)