In [1]:
import numpy as np
import pandas as pd

In [2]:
#path = 'M:/My Documents/Business/Bugisiw Ltd/TaxReturn/TaxReturn_2020-2021/LLP accounts/'
taxreturn_yr='TaxReturn_2022-2023'
path = 'E:\\dtuklaptop\\e\\Users\\Mat\\python\\data\\property\\'+taxreturn_yr+'\\LLP accounts\\'
startdatestr='2022-04-06'
enddatestr='2022-07-31'

In [3]:
propertyidmap = {
2:'321LON',
1:'F1321LON',
14:'F2321LON',
3:'F3321LON',
4:'F4321LON',
7:'169FAW',
5:'F1169FAW',
6:'F2169FAW',
8:'F3169FAW',
73:'F1171FAW',
74:'F2171FAW',
75:'F3171FAW',
12:'163FRA',
9:'F2163FRA',
10:'F3163FRA',
11:'F4163FRA',
17:'SHOP196KIN',
15:'196AKIN',
44:'196AKIN',
16:'196BKIN',
19:'23BHAM',
34:'23CHAM',
18:'23CHAM',
31:'F58ALH',
30:'F68ALH',
33:'F78ALH',
32:'F88ALH',
26:'F1746ALH',
22:'F1846ALH',
21:'F1946ALH',
25:'F2046ALH',
28:'F2146ALH',
23:'F2246ALH',
27:'F2346ALH',
46:'F31214ALH',
52:'F41214ALH',
47:'F51214ALH',
48:'F71214ALH',
49:'F111214ALH',
53:'F101214ALH',
54:'F141214ALH',
55:'F161214ALH',
66:'F11618ALH',
67:'F31618ALH',
63:'F61618ALH',
68:'F71618ALH',
64:'F111618ALH',
71:'F121618ALH',
70:'F131618ALH',
65:'F161618ALH',
81:'RSA'
}

In [4]:
startdate = pd.to_datetime(startdatestr).date()
enddate = pd.to_datetime(enddatestr).date()

In [5]:
input_file_6045 = path + '6045_categorisedAndBealsReconciled.xlsx'
df6=pd.read_excel(input_file_6045,sheet_name='6045')
df6=df6[~df6.Account.isnull()]
df6=df6[(df6.Date >= startdate)&(df6.Date <= enddate)]

input_file_3072 = path + '3072_categorisedAndBealsReconciled.xlsx'
df3=pd.read_excel(input_file_3072,sheet_name='3072')
df3=df3[~df3.Account.isnull()]
df3=df3[(df3.Date >= startdate)&(df3.Date <= enddate)]

C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.
C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  if __name__ == '__main__':

The following file is exported from Property App view INCOME_EXPENDITURE_TAX_LLP_ALL for this tax year.

Don't forget to add the header row.

In [6]:
input_file_beals = path + 'income_expenditure_tax_llp_all_3.xls'
dfR=pd.read_excel(input_file_beals,sheet_name='Sheet 1')
dfR=dfR[(dfR.date >= startdate)&(dfR.date <= enddate)]

C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
for index, row in dfR.iterrows():
    dfR.at[index, 'Property']=propertyidmap[row.property_id]

### Check Bank data against Rent Statements
- differences in values indicate that some items may be included in Rent Statements that are missing from Bank
- INVESTIGATE EACH PROPERTY WHERE THE DIFFERENCE IS NOT ZERO - this is a data integrity check

In [8]:
dfBank=pd.concat([df6,df3]).sort_values(by=['Date'])
dfBG=dfBank.groupby('Property')['Amount'].sum()

#### Check all properties - view difference between property-application and bank downloads

In [9]:
dfRG=dfR.groupby('Property')['amount'].sum()

In [10]:
dfCheck=pd.concat([dfBG, dfRG], axis=1)
dfCheck.rename(columns={'Amount':'AmountB'},inplace=True)
dfCheck.rename(columns={'amount':'AmountRS'},inplace=True)
dfCheck['Diff']=round(dfCheck.AmountB - dfCheck.AmountRS,2)
dfCheck

            AmountB  AmountRS    Diff
Property
169FAW       -60.00    -60.00    0.00
196AKIN      985.30    508.98  476.32
196BKIN     2075.82   2075.82    0.00
23BHAM      1233.89   1233.89    0.00
23CHAM      1345.58   1345.58    0.00
321LON     -1020.00  -1020.00    0.00
F101214ALH   970.33   1803.83 -833.50
F111214ALH  1711.42   1711.42    0.00
F111618ALH  1305.23   1305.23    0.00
F11618ALH   1548.38   1548.38    0.00
F1169FAW    1396.06   1396.06    0.00
F1171FAW    1594.98   1594.98    0.00
F121618ALH  1009.39   1009.39    0.00
F131618ALH  2468.21   2468.21    0.00
F1321LON    1189.43   1189.43    0.00
F141214ALH   876.81    876.81    0.00
F161214ALH  1193.08   1193.08    0.00
F161618ALH  -924.37   -942.37   18.00
F1746ALH    1676.12   1676.12    0.00
F1846ALH    1596.12   1578.12   18.00
F1946ALH    1883.46   1865.46   18.00
F2046ALH    1147.11   1129.11   18.00
F2146ALH    1328.08   1322.08    6.00
F2169FAW    1217.38   1217.38    0.00
F2171FAW    1202.26   1202.26    0.00
F2246ALH     507.30    507.30    0.00
F2321LON    1460.23   1460.23    0.00
F2346ALH    1902.94   1902.94    0.00
F31214ALH    793.37    793.37    0.00
F31618ALH   1543.36   1537.36    6.00
F3163FRA    1246.76   1246.76    0.00
F3169FAW     469.12    469.09    0.03
F3171FAW    1704.25   1704.25    0.00
F3321LON    2001.85   2001.85    0.00
F41214ALH   2429.76   2411.76   18.00
F4163FRA   -2016.66  -2016.66    0.00
F4321LON    -762.57   -780.57   18.00
F51214ALH   1018.07   1018.07   -0.00
F58ALH      2326.12   2326.12    0.00
F61618ALH   1112.50   1112.50    0.00
F68ALH       935.41    989.16  -53.75
F71214ALH   1111.35   1111.35    0.00
F71618ALH   2030.60   2024.60    6.00
F78ALH       989.16    531.16  458.00
F88ALH       924.50    918.50    6.00
RSA         -240.00   -240.00    0.00
SHOP196KIN   661.70    661.70    0.00

196 GFF Rent registered in papp as 05/04/22 (before bank data) but received in bank next day - so ignore error as it crosses period.

F10 12-14 - I think Beals data is wrong. This flat had errors with cumulative payments in other notebook. I've checked bank and four months rent have be paid. Rent statement is saying 2 more months have been paid which is probably not right unless he was in arrears. Will as for bank download for this flat to check this.

F6 8 - £47.57 in papp was paid after bank period end (31/07/22), also £6 carried fwd from prev period

F7 8 - this is an overlap of period like for 196 GFF.

#### Check individual properties (to pin point problems)

In [30]:
pty='F68ALH'

In [31]:
dfBank.loc[dfBank.Property==pty].groupby(['Category'])['Amount'].sum()

Category
BealsRentalIncome    1754.25
Mortgage             -818.84
Name: Amount, dtype: float64

In [32]:
dfR.loc[(dfR.Property==pty)].groupby(['cat'])['amount'].sum()

cat
Lettings Agency    -192.00
Mortgage           -818.84
Tenancy Related    2000.00
Name: amount, dtype: float64

In [33]:
dfR[(dfR.Property==pty)&(dfR.cat.str.contains('Lettings Agency|Tenancy Related'))].loc[dfR.Property==pty]['amount'].sum()

1808.0

In [34]:
dfR[(dfR.Property==pty)&(dfR.cat.str.contains('Maintenance|Utilities'))].loc[dfR.Property==pty]['amount'].sum()

0.0

### Overall view of bank data

Total figures for both accounts followed by individual accounts.

In [35]:
dfBank.groupby(['Category'])['Amount'].sum()

Category
Accounting            -240.00
AgentFees            -2923.00
BealsRentalIncome    33143.33
CouncilTax           -1160.31
Deposit               -506.33
Drawings            -40382.33
HMRC                 -1800.00
Insurance             -596.70
Maintenance         -12610.63
MobilePhone            -66.48
Mortgage            -34671.67
RentalIncome         69624.50
ServiceCharge        -3029.06
Name: Amount, dtype: float64

In [36]:
df6.groupby(['Category'])['Amount'].sum()

Category
Accounting            -240.00
AgentFees            -1697.00
BealsRentalIncome    24746.87
CouncilTax            -851.09
Deposit               -778.00
Drawings            -17657.07
HMRC                  -900.00
Insurance             -596.70
Maintenance         -10360.23
MobilePhone            -66.48
Mortgage            -19511.81
RentalIncome         36108.00
ServiceCharge        -1229.06
Name: Amount, dtype: float64

In [37]:
df3.groupby(['Category'])['Amount'].sum()

Category
AgentFees            -1226.00
BealsRentalIncome     8396.46
CouncilTax            -309.22
Deposit                271.67
Drawings            -22725.26
HMRC                  -900.00
Maintenance          -2250.40
Mortgage            -15159.86
RentalIncome         33516.50
ServiceCharge        -1800.00
Name: Amount, dtype: float64

Check monthly P/L:

In [38]:
input_file_6045 = path + '6045_categorisedAndBealsReconciled.xlsx'
df6=pd.read_excel(input_file_6045,sheet_name='6045')
df6=df6[~df6.Account.isnull()]
df6=df6[(df6.Date >= startdate)&(df6.Date <= enddate)]

input_file_3072 = path + '3072_categorisedAndBealsReconciled.xlsx'
df3=pd.read_excel(input_file_3072,sheet_name='3072')
df3=df3[~df3.Account.isnull()]
df3=df3[(df3.Date >= startdate)&(df3.Date <= enddate)]

#input_file_IV = path + '300 mvt .xlsx'
#dfIV=pd.read_excel(input_file_IV,sheet_name='data (36)')
#dfIV=dfIV[~dfIV.Account.isnull()]
#dfIV=dfIV[(dfIV.Date >= startdate)&(dfIV.Date <= enddate)]

#df6['Amount'][(df6.Date>='06/01/2020')&(df6.Date<='06/30/2020')].groupby(by=[df6.Date.dt.date]).sum()
#dfIV['Amount'][(dfIV.Date>='06/01/2020')&(dfIV.Date<='06/30/2020')].groupby(by=[dfIV.Date.dt.date]).sum()

C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.
C:\Users\MSTDTP21\.conda\envs\mtpython36\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  if __name__ == '__main__':

In [39]:
df6['Amount'].groupby(by=[df6.Date.dt.year, df6.Date.dt.month]).sum()

Date  Date
2022  4       4358.35
      5       -815.27
      6       2006.83
      7       1417.52
Name: Amount, dtype: float64

In [40]:
df3['Amount'].groupby(by=[df3.Date.dt.year, df3.Date.dt.month]).sum()

Date  Date
2022  4       4125.47
      5      -3338.01
      6       1482.05
      7      -3417.62
Name: Amount, dtype: float64

In [41]:
df6['Amount'].sum()

6967.43

In [42]:
df3['Amount'].sum()

-1148.1100000000001